
.container-fluid{
    background-color: rgb(201, 129, 35);
    position: absolute;
    z-index: 1;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}
.collapse-navbar-collapse{
    background-color: rgb(46, 22, 102);
    font-size:7em;
}
.element{
    background-color: rgb(186, 161, 23);
  
}

.active{
    background-color: rgb(85, 196, 42);
font-size: 1em;
}

.t1{
    font-size: 1em;
    color:#000000;
   
}

  
  

