
  
.navbar {
  
   
    box-shadow: 0 6px 10px -4px rgb(130, 32, 166);
}


.navbar-toggler {
    padding: 0.25rem 28.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

@media (max-width: 767px){
    
.a.btn-round.mr-1.btn.btn-outline-neutral.btn-sm{
    width: 11rem;
}
}

